.cakelayer {
    border: solid 1px black;
    /*border-radius: 50% / 25px; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.chocolate {
    background-color: #7e4b2f;
}