.cakelayer {
    /* border: solid 1px black; */
    border-top: none;
    border-radius: 50% / 25px;
    position: relative;
    margin: -35px 0;
    box-shadow: 0 0 10px grey;
}

.top {
    border: solid 1px grey;
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    height: 40px;
    
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.chocolate {
    background-color: #7e4b2f;
}