.App {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
    background-size: 100% 100%;
}




